<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qihangerp.api.mapper.ErpGoodsBrandMapper">
    
    <resultMap type="ErpGoodsBrand" id="ErpGoodsBrandResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectErpGoodsBrandVo">
        select id, name, status, create_by, create_time, update_by, update_time from erp_goods_brand
    </sql>

    <select id="selectErpGoodsBrandList" parameterType="ErpGoodsBrand" resultMap="ErpGoodsBrandResult">
        <include refid="selectErpGoodsBrandVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectErpGoodsBrandById" parameterType="Long" resultMap="ErpGoodsBrandResult">
        <include refid="selectErpGoodsBrandVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertErpGoodsBrand" parameterType="ErpGoodsBrand" useGeneratedKeys="true" keyProperty="id">
        insert into erp_goods_brand
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateErpGoodsBrand" parameterType="ErpGoodsBrand">
        update erp_goods_brand
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteErpGoodsBrandById" parameterType="Long">
        delete from erp_goods_brand where id = #{id}
    </delete>

    <delete id="deleteErpGoodsBrandByIds" parameterType="String">
        delete from erp_goods_brand where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>