<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qihangerp.api.mapper.ErpShipLogisticsMapper">
    
    <resultMap type="ErpShipLogistics" id="BLogisticsCompanyResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="number"    column="number"    />
        <result property="remark"    column="remark"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectBLogisticsCompanyVo">
        select id, name, number,remark,status from erp_ship_logistics
    </sql>

    <select id="selectBLogisticsCompanyList" parameterType="ErpShipLogistics" resultMap="BLogisticsCompanyResult">
        <include refid="selectBLogisticsCompanyVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="number != null  and number != ''"> and number = #{number}</if>
        </where>
    </select>
    
    <select id="selectBLogisticsCompanyById" parameterType="Long" resultMap="BLogisticsCompanyResult">
        <include refid="selectBLogisticsCompanyVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBLogisticsCompany" parameterType="ErpShipLogistics" useGeneratedKeys="true" keyProperty="id">
        insert into erp_ship_logistics
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="number != null">number,</if>
            <if test="remark != null">remark,</if>
            <if test="status != null">status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="number != null">#{number},</if>
            <if test="remark != null">#{remark},</if>
            <if test="status != null">#{status},</if>
         </trim>
    </insert>

    <update id="updateBLogisticsCompany" parameterType="ErpShipLogistics">
        update erp_ship_logistics
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="number != null">number = #{number},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="status != null">status = #{status},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBLogisticsCompanyById" parameterType="Long">
        delete from erp_ship_logistics where id = #{id}
    </delete>

    <delete id="deleteBLogisticsCompanyByIds" parameterType="String">
        delete from erp_ship_logistics where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>