<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qihangerp.api.mapper.GoodsAttributeConfigMapper">
    
    <resultMap type="GoodsAttributeConfig" id="GoodsAttributeConfigResult">
        <result property="id"    column="id"    />
        <result property="categoryId"    column="category_id"    />
        <result property="name"    column="name"    />
        <result property="value"    column="value"    />
    </resultMap>

    <sql id="selectGoodsAttributeConfigVo">
        select id, category_id, name, value from erp_goods_attribute_config
    </sql>

    <select id="selectGoodsAttributeConfigList" parameterType="GoodsAttributeConfig" resultMap="GoodsAttributeConfigResult">
        <include refid="selectGoodsAttributeConfigVo"/>
        <where>  
            <if test="categoryId != null "> and category_id = #{categoryId}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="value != null  and value != ''"> and value = #{value}</if>
        </where>
    </select>
    
    <select id="selectGoodsAttributeConfigById" parameterType="Long" resultMap="GoodsAttributeConfigResult">
        <include refid="selectGoodsAttributeConfigVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertGoodsAttributeConfig" parameterType="GoodsAttributeConfig" useGeneratedKeys="true" keyProperty="id">
        insert into erp_goods_attribute_config
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="categoryId != null">category_id,</if>
            <if test="name != null">name,</if>
            <if test="value != null">value,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="categoryId != null">#{categoryId},</if>
            <if test="name != null">#{name},</if>
            <if test="value != null">#{value},</if>
         </trim>
    </insert>

    <update id="updateGoodsAttributeConfig" parameterType="GoodsAttributeConfig">
        update erp_goods_attribute_config
        <trim prefix="SET" suffixOverrides=",">
            <if test="categoryId != null">category_id = #{categoryId},</if>
            <if test="name != null">name = #{name},</if>
            <if test="value != null">value = #{value},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteGoodsAttributeConfigById" parameterType="Long">
        delete from erp_goods_attribute_config where id = #{id}
    </delete>

    <delete id="deleteGoodsAttributeConfigByIds" parameterType="String">
        delete from erp_goods_attribute_config where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>