<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qihangerp.open.tao.mapper.TaoOrderRefundMapper">
    
    <resultMap type="cn.qihangerp.open.tao.domain.TaoOrderRefund" id="TaoOrderRefundResult">
        <result property="id"    column="id"    />
        <result property="refundId"    column="refund_id"    />
        <result property="afterSalesType"    column="after_sales_type"    />
        <result property="shopId"    column="shopId"    />
        <result property="tid"    column="tid"    />
        <result property="oid"    column="oid"    />
        <result property="refundFee"    column="refund_fee"    />
        <result property="created"    column="created"    />
        <result property="modified"    column="modified"    />
        <result property="status"    column="status"    />
        <result property="goodStatus"    column="good_status"    />
        <result property="num"    column="num"    />
        <result property="hasGoodReturn"    column="has_good_return"    />
        <result property="reason"    column="reason"    />
        <result property="remark"    column="remark"    />
        <result property="logisticsCompany"    column="logisticsCompany"    />
        <result property="logisticsCode"    column="logisticsCode"    />
        <result property="sendTime"    column="send_time"    />
        <result property="auditStatus"    column="auditStatus"    />
        <result property="auditTime"    column="auditTime"    />
        <result property="receivedTime"    column="receivedTime"    />
        <result property="erpGoodsId"    column="erpGoodsId"    />
        <result property="erpGoodsSpecId"    column="erpGoodsSpecId"    />
        <result property="productId"    column="productId"    />
        <result property="skuId"    column="skuId"    />
        <result property="goodsTitle"    column="goodsTitle"    />
        <result property="goodsNumber"    column="goodsNumber"    />
        <result property="specNumber"    column="specNumber"    />
        <result property="productImgUrl"    column="productImgUrl"    />
        <result property="skuInfo"    column="skuInfo"    />
        <result property="refundPhase"    column="refund_phase"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectTaoOrderRefundVo">
        select id, refund_id, after_sales_type, shopId, tid, oid, refund_fee, created, modified, status, good_status, num, has_good_return, reason, remark, logisticsCompany, logisticsCode, send_time, auditStatus, auditTime, receivedTime, erpGoodsId, erpGoodsSpecId, productId, skuId, goodsTitle, goodsNumber, specNumber, productImgUrl, skuInfo, refund_phase, create_time, create_by, update_by, update_time from s_tao_order_refund
    </sql>

    <select id="selectTaoOrderRefundList" parameterType="cn.qihangerp.open.tao.domain.TaoOrderRefund" resultMap="TaoOrderRefundResult">
        <include refid="selectTaoOrderRefundVo"/>
        <where>  
            <if test="refundId != null  and refundId != ''"> and refund_id = #{refundId}</if>
            <if test="afterSalesType != null "> and after_sales_type = #{afterSalesType}</if>
            <if test="shopId != null "> and shopId = #{shopId}</if>
            <if test="tid != null "> and tid = #{tid}</if>
            <if test="oid != null "> and oid = #{oid}</if>
            <if test="refundFee != null "> and refund_fee = #{refundFee}</if>
            <if test="created != null "> and created = #{created}</if>
            <if test="modified != null "> and modified = #{modified}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="goodStatus != null  and goodStatus != ''"> and good_status = #{goodStatus}</if>
            <if test="num != null "> and num = #{num}</if>
            <if test="hasGoodReturn != null "> and has_good_return = #{hasGoodReturn}</if>
            <if test="reason != null  and reason != ''"> and reason = #{reason}</if>
            <if test="logisticsCompany != null  and logisticsCompany != ''"> and logisticsCompany = #{logisticsCompany}</if>
            <if test="logisticsCode != null  and logisticsCode != ''"> and logisticsCode = #{logisticsCode}</if>
            <if test="sendTime != null  and sendTime != ''"> and send_time = #{sendTime}</if>
            <if test="auditStatus != null "> and auditStatus = #{auditStatus}</if>
            <if test="auditTime != null "> and auditTime = #{auditTime}</if>
            <if test="receivedTime != null "> and receivedTime = #{receivedTime}</if>
            <if test="erpGoodsId != null "> and erpGoodsId = #{erpGoodsId}</if>
            <if test="erpGoodsSpecId != null "> and erpGoodsSpecId = #{erpGoodsSpecId}</if>
            <if test="productId != null "> and productId = #{productId}</if>
            <if test="skuId != null "> and skuId = #{skuId}</if>
            <if test="goodsTitle != null  and goodsTitle != ''"> and goodsTitle = #{goodsTitle}</if>
            <if test="goodsNumber != null  and goodsNumber != ''"> and goodsNumber = #{goodsNumber}</if>
            <if test="specNumber != null  and specNumber != ''"> and specNumber = #{specNumber}</if>
            <if test="productImgUrl != null  and productImgUrl != ''"> and productImgUrl = #{productImgUrl}</if>
            <if test="skuInfo != null  and skuInfo != ''"> and skuInfo = #{skuInfo}</if>
            <if test="refundPhase != null  and refundPhase != ''"> and refund_phase = #{refundPhase}</if>
        </where>
    </select>
    
    <select id="selectTaoOrderRefundById" parameterType="Long" resultMap="TaoOrderRefundResult">
        <include refid="selectTaoOrderRefundVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTaoOrderRefund" parameterType="cn.qihangerp.open.tao.domain.TaoOrderRefund" useGeneratedKeys="true" keyProperty="id">
        insert into s_tao_order_refund
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="refundId != null">refund_id,</if>
            <if test="afterSalesType != null">after_sales_type,</if>
            <if test="shopId != null">shopId,</if>
            <if test="tid != null">tid,</if>
            <if test="oid != null">oid,</if>
            <if test="refundFee != null">refund_fee,</if>
            <if test="created != null">created,</if>
            <if test="modified != null">modified,</if>
            <if test="status != null">status,</if>
            <if test="goodStatus != null">good_status,</if>
            <if test="num != null">num,</if>
            <if test="hasGoodReturn != null">has_good_return,</if>
            <if test="reason != null">reason,</if>
            <if test="remark != null">remark,</if>
            <if test="logisticsCompany != null">logisticsCompany,</if>
            <if test="logisticsCode != null">logisticsCode,</if>
            <if test="sendTime != null">send_time,</if>
            <if test="auditStatus != null">auditStatus,</if>
            <if test="auditTime != null">auditTime,</if>
            <if test="receivedTime != null">receivedTime,</if>
            <if test="erpGoodsId != null">erpGoodsId,</if>
            <if test="erpGoodsSpecId != null">erpGoodsSpecId,</if>
            <if test="productId != null">productId,</if>
            <if test="skuId != null">skuId,</if>
            <if test="goodsTitle != null">goodsTitle,</if>
            <if test="goodsNumber != null">goodsNumber,</if>
            <if test="specNumber != null">specNumber,</if>
            <if test="productImgUrl != null">productImgUrl,</if>
            <if test="skuInfo != null">skuInfo,</if>
            <if test="refundPhase != null">refund_phase,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="refundId != null">#{refundId},</if>
            <if test="afterSalesType != null">#{afterSalesType},</if>
            <if test="shopId != null">#{shopId},</if>
            <if test="tid != null">#{tid},</if>
            <if test="oid != null">#{oid},</if>
            <if test="refundFee != null">#{refundFee},</if>
            <if test="created != null">#{created},</if>
            <if test="modified != null">#{modified},</if>
            <if test="status != null">#{status},</if>
            <if test="goodStatus != null">#{goodStatus},</if>
            <if test="num != null">#{num},</if>
            <if test="hasGoodReturn != null">#{hasGoodReturn},</if>
            <if test="reason != null">#{reason},</if>
            <if test="remark != null">#{remark},</if>
            <if test="logisticsCompany != null">#{logisticsCompany},</if>
            <if test="logisticsCode != null">#{logisticsCode},</if>
            <if test="sendTime != null">#{sendTime},</if>
            <if test="auditStatus != null">#{auditStatus},</if>
            <if test="auditTime != null">#{auditTime},</if>
            <if test="receivedTime != null">#{receivedTime},</if>
            <if test="erpGoodsId != null">#{erpGoodsId},</if>
            <if test="erpGoodsSpecId != null">#{erpGoodsSpecId},</if>
            <if test="productId != null">#{productId},</if>
            <if test="skuId != null">#{skuId},</if>
            <if test="goodsTitle != null">#{goodsTitle},</if>
            <if test="goodsNumber != null">#{goodsNumber},</if>
            <if test="specNumber != null">#{specNumber},</if>
            <if test="productImgUrl != null">#{productImgUrl},</if>
            <if test="skuInfo != null">#{skuInfo},</if>
            <if test="refundPhase != null">#{refundPhase},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateTaoOrderRefund" parameterType="cn.qihangerp.open.tao.domain.TaoOrderRefund">
        update s_tao_order_refund
        <trim prefix="SET" suffixOverrides=",">
            <if test="refundId != null">refund_id = #{refundId},</if>
            <if test="afterSalesType != null">after_sales_type = #{afterSalesType},</if>
            <if test="shopId != null">shopId = #{shopId},</if>
            <if test="tid != null">tid = #{tid},</if>
            <if test="oid != null">oid = #{oid},</if>
            <if test="refundFee != null">refund_fee = #{refundFee},</if>
            <if test="created != null">created = #{created},</if>
            <if test="modified != null">modified = #{modified},</if>
            <if test="status != null">status = #{status},</if>
            <if test="goodStatus != null">good_status = #{goodStatus},</if>
            <if test="num != null">num = #{num},</if>
            <if test="hasGoodReturn != null">has_good_return = #{hasGoodReturn},</if>
            <if test="reason != null">reason = #{reason},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="logisticsCompany != null">logisticsCompany = #{logisticsCompany},</if>
            <if test="logisticsCode != null">logisticsCode = #{logisticsCode},</if>
            <if test="sendTime != null">send_time = #{sendTime},</if>
            <if test="auditStatus != null">auditStatus = #{auditStatus},</if>
            <if test="auditTime != null">auditTime = #{auditTime},</if>
            <if test="receivedTime != null">receivedTime = #{receivedTime},</if>
            <if test="erpGoodsId != null">erpGoodsId = #{erpGoodsId},</if>
            <if test="erpGoodsSpecId != null">erpGoodsSpecId = #{erpGoodsSpecId},</if>
            <if test="productId != null">productId = #{productId},</if>
            <if test="skuId != null">skuId = #{skuId},</if>
            <if test="goodsTitle != null">goodsTitle = #{goodsTitle},</if>
            <if test="goodsNumber != null">goodsNumber = #{goodsNumber},</if>
            <if test="specNumber != null">specNumber = #{specNumber},</if>
            <if test="productImgUrl != null">productImgUrl = #{productImgUrl},</if>
            <if test="skuInfo != null">skuInfo = #{skuInfo},</if>
            <if test="refundPhase != null">refund_phase = #{refundPhase},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTaoOrderRefundById" parameterType="Long">
        delete from s_tao_order_refund where id = #{id}
    </delete>

    <delete id="deleteTaoOrderRefundByIds" parameterType="String">
        delete from s_tao_order_refund where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>