<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qihangerp.api.mapper.ErpShipOrderMapper">

    <resultMap id="BaseResultMap" type="cn.qihangerp.api.domain.ErpShipOrder">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="shopId" column="shop_id" jdbcType="INTEGER"/>
            <result property="shopType" column="shop_type" jdbcType="INTEGER"/>
            <result property="supplierId" column="supplier_id" jdbcType="INTEGER"/>
            <result property="orderNum" column="order_num" jdbcType="VARCHAR"/>
            <result property="erpOrderId" column="erp_order_id" jdbcType="BIGINT"/>
            <result property="erpOrderItemId" column="erp_order_item_id" jdbcType="BIGINT"/>
            <result property="orderTime" column="order_time" jdbcType="TIMESTAMP"/>
            <result property="goodsId" column="goods_id" jdbcType="BIGINT"/>
            <result property="specId" column="spec_id" jdbcType="BIGINT"/>
            <result property="specNum" column="spec_num" jdbcType="VARCHAR"/>
            <result property="quantity" column="quantity" jdbcType="INTEGER"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="logisticsCompany" column="logistics_company" jdbcType="VARCHAR"/>
            <result property="ewaybillCode" column="ewaybill_code" jdbcType="VARCHAR"/>
            <result property="logisticsFee" column="logistics_fee" jdbcType="DECIMAL"/>
            <result property="shipTime" column="ship_time" jdbcType="TIMESTAMP"/>
            <result property="shipMan" column="ship_man" jdbcType="VARCHAR"/>
            <result property="outOperator" column="out_operator" jdbcType="VARCHAR"/>
            <result property="outPosition" column="out_position" jdbcType="VARCHAR"/>
            <result property="outTime" column="out_time" jdbcType="TIMESTAMP"/>
            <result property="shipType" column="ship_type" jdbcType="INTEGER"/>
            <result property="shipStatus" column="ship_status" jdbcType="INTEGER"/>
            <result property="packageWeight" column="package_weight" jdbcType="FLOAT"/>
            <result property="packageLength" column="package_length" jdbcType="FLOAT"/>
            <result property="packageWidth" column="package_width" jdbcType="FLOAT"/>
            <result property="packageHeight" column="package_height" jdbcType="FLOAT"/>
            <result property="packsgeOperator" column="packsge_operator" jdbcType="VARCHAR"/>
            <result property="packsgeTime" column="packsge_time" jdbcType="TIMESTAMP"/>
            <result property="packages" column="packages" jdbcType="VARCHAR"/>
            <result property="receiverName" column="receiver_name" jdbcType="VARCHAR"/>
            <result property="receiverPhone" column="receiver_phone" jdbcType="VARCHAR"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
            <result property="country" column="country" jdbcType="VARCHAR"/>
            <result property="province" column="province" jdbcType="VARCHAR"/>
            <result property="city" column="city" jdbcType="VARCHAR"/>
            <result property="town" column="town" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,shop_id,shop_type,
        supplier_id,order_num,erp_order_id,
        erp_order_item_id,order_time,goods_id,
        spec_id,spec_num,quantity,
        remark,logistics_company,ewaybill_code,
        logistics_fee,ship_time,ship_man,
        out_operator,out_position,out_time,
        ship_type,ship_status,package_weight,
        package_length,package_width,package_height,
        packsge_operator,packsge_time,packages,
        receiver_name,receiver_phone,address,
        country,province,city,
        town,create_time,create_by,
        update_time,update_by
    </sql>
</mapper>
