<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qihangerp.api.mapper.SysOssMapper">
    
    <resultMap type="cn.qihangerp.api.domain.SysOss" id="SysOssResult">
        <result property="ossId"    column="oss_id"    />
        <result property="fileName"    column="file_name"    />
        <result property="originalName"    column="original_name"    />
        <result property="fileSuffix"    column="file_suffix"    />
        <result property="url"    column="url"    />
        <result property="objectName"    column="object_name"    />
        <result property="bucket"    column="bucket"    />
        <result property="orderNum"    column="order_num"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectSysOssVo">
        select oss_id, file_name, original_name, file_suffix, url, object_name, bucket, order_num, status, del_flag, create_by, create_time, update_by, update_time from sys_oss
    </sql>

    <select id="selectSysOssList" parameterType="cn.qihangerp.api.domain.SysOss" resultMap="SysOssResult">
        <include refid="selectSysOssVo"/>
        <where>  
            <if test="fileName != null  and fileName != ''"> and file_name like concat('%', #{fileName}, '%')</if>
            <if test="originalName != null  and originalName != ''"> and original_name like concat('%', #{originalName}, '%')</if>
            <if test="fileSuffix != null  and fileSuffix != ''"> and file_suffix = #{fileSuffix}</if>
            <if test="url != null  and url != ''"> and url = #{url}</if>
            <if test="objectName != null  and objectName != ''"> and object_name like concat('%', #{objectName}, '%')</if>
            <if test="bucket != null  and bucket != ''"> and bucket = #{bucket}</if>
            <if test="orderNum != null "> and order_num = #{orderNum}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectSysOssByOssId" parameterType="Long" resultMap="SysOssResult">
        <include refid="selectSysOssVo"/>
        where oss_id = #{ossId}
    </select>
        
    <insert id="insertSysOss" parameterType="cn.qihangerp.api.domain.SysOss" useGeneratedKeys="true" keyProperty="ossId">
        insert into sys_oss
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fileName != null">file_name,</if>
            <if test="originalName != null">original_name,</if>
            <if test="fileSuffix != null">file_suffix,</if>
            <if test="url != null">url,</if>
            <if test="objectName != null">object_name,</if>
            <if test="bucket != null">bucket,</if>
            <if test="orderNum != null">order_num,</if>
            <if test="status != null">status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="fileName != null">#{fileName},</if>
            <if test="originalName != null">#{originalName},</if>
            <if test="fileSuffix != null">#{fileSuffix},</if>
            <if test="url != null">#{url},</if>
            <if test="objectName != null">#{objectName},</if>
            <if test="bucket != null">#{bucket},</if>
            <if test="orderNum != null">#{orderNum},</if>
            <if test="status != null">#{status},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateSysOss" parameterType="cn.qihangerp.api.domain.SysOss">
        update sys_oss
        <trim prefix="SET" suffixOverrides=",">
            <if test="fileName != null">file_name = #{fileName},</if>
            <if test="originalName != null">original_name = #{originalName},</if>
            <if test="fileSuffix != null">file_suffix = #{fileSuffix},</if>
            <if test="url != null">url = #{url},</if>
            <if test="objectName != null">object_name = #{objectName},</if>
            <if test="bucket != null">bucket = #{bucket},</if>
            <if test="orderNum != null">order_num = #{orderNum},</if>
            <if test="status != null">status = #{status},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where oss_id = #{ossId}
    </update>

    <delete id="deleteSysOssByOssId" parameterType="Long">
        delete from sys_oss where oss_id = #{ossId}
    </delete>

    <delete id="deleteSysOssByOssIds" parameterType="String">
        delete from sys_oss where oss_id in 
        <foreach item="ossId" collection="array" open="(" separator="," close=")">
            #{ossId}
        </foreach>
    </delete>
</mapper>