<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qihangerp.api.pdd.mapper.OmsPddGoodsMapper">

    <resultMap id="BaseResultMap" type="cn.qihangerp.api.pdd.domain.OmsPddGoods">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="goodsId" column="goods_id" jdbcType="BIGINT"/>
            <result property="goodsName" column="goods_name" jdbcType="VARCHAR"/>
            <result property="goodsQuantity" column="goods_quantity" jdbcType="BIGINT"/>
            <result property="isMoreSku" column="is_more_sku" jdbcType="INTEGER"/>
            <result property="isOnsale" column="is_onsale" jdbcType="INTEGER"/>
            <result property="thumbUrl" column="thumb_url" jdbcType="VARCHAR"/>
            <result property="createdAt" column="created_at" jdbcType="BIGINT"/>
            <result property="shopId" column="shop_id" jdbcType="INTEGER"/>
            <result property="erpGoodsId" column="erp_goods_id" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,goods_id,goods_name,
        goods_quantity,is_more_sku,is_onsale,
        thumb_url,created_at,shop_id,
        erp_goods_id,create_time,update_time
    </sql>

    <resultMap type="Shop" id="ShopResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="ename"    column="ename"    />
        <result property="company"    column="company"    />
        <result property="platform"    column="platform"    />
        <result property="sellerShopId"    column="seller_shop_id"    />
        <result property="accessToken"    column="access_token"    />
    </resultMap>
    <sql id="selectShopVo">
        select * from s_shop
    </sql>
    <select id="selectShopById" parameterType="Long" resultMap="ShopResult">
        <include refid="selectShopVo"/>
        where id = #{id}
    </select>

    <resultMap type="ShopSetting" id="ShopSettingResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="appKey"    column="app_key"    />
        <result property="appSecret"    column="app_secret"    />
        <result property="remark"    column="remark"    />
        <result property="serverUrl"    column="server_url"    />
        <result property="redirectUrl"    column="redirect_url"    />
    </resultMap>
    <sql id="selectShopSettingVo">
        select * from  s_shop_platform
    </sql>

    <select id="selectShopSettingById" parameterType="Integer" resultMap="ShopSettingResult">
        <include refid="selectShopSettingVo"/>
        where id = #{id}
    </select>


    <update id="updateShopSessionByShopId" >
        update s_shop set access_token = #{accessToken}
        where id = #{shopId}
    </update>
</mapper>
